.stocked_brands__text{
    color: #A39161;
    font-size: 13px;
}
.double_article_box__stocked_brands{
    padding: 0 3%;
}
.stocked_brands__logos{
    max-width: 400px;
}
.double_article_box__brands{
    background-color: #262626;
    padding: 2% 3%;
    border: 1px solid black;
}
.brands__headline{
    color: #a39161;
    font-size: 1.5em;
    margin: 0;
}
.brands__text{
    color: white;
    font-size: 13px;
}
.brands__link{
    color: #a39161;
    font-size: 0.9em;
    font-weight: bold;
}