.footer {
    height: 74px;
    width: 100%;
    background: #A39161;
    display: flex;
    justify-content: space-between;
}

.footer__hojre {
    margin-right: 25px;
}

.hojre__social {
    width: 75px;
    margin: 0px;
}

.social__link {
    position: relative;
    font-size: 11px;
    color: white;
    margin: 0px;
    top: -3px;
    right: -2px;
    padding: 6px 4px;
    cursor: pointer;
}

.fa-youtube {
    position: relative;
    left: -0.5px;
}

.hojre__betaling {
    position: relative;
    top: 10px;
    padding-right: 15px;
}

.footer__venstre {
    display: flex;
    position: relative;
}

.venstre__tekst {
    padding-top: 20px;
    padding-left: 20px;
}

.tekst__p {
    position: relative;
    font-size: 10px;
    margin: 0px;
    font-weight: bold;
    line-height: 12px;
}

.venstre__links {
    padding-top: 15px;
    padding-left: 50px;
}

.links__refund {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.circle{
    border:1px solid white;
    display: inline-block;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: relative;
}