.head {
    padding: 5px;
    padding-top: 30px;
    height: 88px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    border-bottom: 1px solid var(--hovedfarvebrun);
}

.head_right {
    display: flex;
    padding: 10px;
    color: white;
    width: 700px;
    justify-content: space-between;
}

.head_searchbox_input {
    padding: 5px;
    width: 300px;
}

.fa-search {
    position: relative;
    left: -30px;
    color: grey;
}

.head-logo_img {
    height: 45px;
    width: 45px;
}

.head-menu {
    display: flex;
    font-size: 1.5em;
    justify-content: flex-end;
    /* padding-top:10px; */
}
.head-kontakt{
    /* height: 88px; */
padding:20px;
border-bottom: 1px solid var(--hovedfarvebrun);
    /* border:1px solid yellow; */
    font-size: 1.5em;
    display: flex;
    justify-content: flex-end;
    background-color: black;
}
.head-menu__icons {
    margin-right:10px;
    /* font-size: 1.5em; */
    width: 140px;
    display: flex;
    justify-content: space-between;
    color: white;
    /* border:1px solid red; */
}
.mail{
    padding-top: 2px;
}
.head-menu__icons_subscribebtn {
    color: white;
    border-style: none;
    background-color: rgb(40, 143, 212);
    width: 100px;
    border-radius: 3px;
    height: 24px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.head-menu__subscribe_btn-mail {
    padding: 3px;
}
