.hero__top_image{
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
}
.hero__bottom_image{
    grid-column: 1/2;
    grid-row: 2/3;
    border-top: 1px solid #A39161;
    max-width: 100%;
}
.hero__logo{
    place-self:center;
    grid-column: 1/2;
    grid-row: 1/2;
}
.hero__image_text{
    place-self:center;
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
}

