.thumbnail-grid {
    max-width: 857px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    padding-bottom: 15px;
    padding-top: 10px;
    grid-column: 2/3;
    grid-row: 2/6;
    background-color: white;
}

.thumbnail {
    text-align: center;
}
.thumbnail__img{
    max-width: 150px;
    height: 150px;
    object-fit: contain;
}

.thumbnail__overskrift {
    text-transform: uppercase;
    font-size: 0.8em;
    width: 198px;
    height: 30px;
    margin: auto;
}

.thumbnail__pris {
    display: inline-block;
    font-weight: bold;
    color: #A39161;
}

.thumbnail__pris_tilbud {
    /* display: none; */
    text-decoration-line: line-through;
    padding-right: 20px;
    color: rgb(173, 173, 173);
}

.thumbnail__button {
    display: block;
    text-transform: uppercase;
    margin: auto;
    background: #A39161;
    color: white;
    font-weight: bold;
    height: 33px;
    width: 112px;
    padding-top: 3px;
    border: 0px;
    margin-bottom: 5em;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.8em;
}

.thumbnail__button_udsolgt {
    display: none;

}
