<footer class="footer">
    <div class="footer__venstre">
        <div class="venstre__tekst">
            <p class="tekst__p">HI-FI Corner</p>
            <p class="tekst__p">Edinburgh 2 joppa Road EH 15 2EU
            </p>
            <p class="tekst__p">Falkirk 44 Cow Wynd FK1 1PU</p>
        </div>
        <div class="venstre__links">
            <a class="links__refund" href="#">Return & Refunds</a>
            <a class="links__refund" href="#">| Privacy Policy</a>
        </div>
    </div>
    <div class="footer__hojre">
        <img class="hojre__betaling" src="/assets/images/footer/betalings-muligheder.png" alt="">

        <div class="circle">
            <i class="fab fa-facebook-f social__link"></i>
        </div>
        <div class="circle">
            <i class="fab fa-youtube social__link"></i>
        </div>
        <div class="circle">
            <i class="fab fa-twitter social__link"></i>
        </div>
        <div class="circle">
            <i class="fab fa-instagram social__link"></i>
        </div>
    </div>
</footer>