<nav class="navigation">
    <ul class="navigation__linkbox">
        <li class="linkbox__link"> <a class="linkbox__link_a active" href="/index.html">HOME</a> </li>
        <li class="linkbox__link"> <a class="linkbox__link_a" href="#">ABOUT US</a> </li>
        <li class="linkbox__link"> <a class="linkbox__link_a" href="/brands.html">BRANDS</a> </li>
        <li class="linkbox__link"> <a class="linkbox__link_a" href="#">BLOG</a> </li>
        <li class="linkbox__link"> <a class="linkbox__link_a" href="#">EVENTS</a> </li>
        <li class="linkbox__link"> <a class="linkbox__link_a" href="/shop.html">SHOP</a> </li>
        <li class="linkbox__link"> <a class="linkbox__link_a" href="#">CONTACT US</a> </li>
    </ul>
</nav>