.section {
    height: 750px;
    width: 100%;
    font-family: var( --main-font);
}

.social-cards {
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.social-cards__box1 {
    background: url(../../images/socialiconsbackground2.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-cards__box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../images/socialiconsbackground3.jpg) no-repeat;
}

.social-cards__box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../images/socialiconsbackground1.jpg) no-repeat;
}

.social-cards__icons {
    font-size: 200px;
    color: white;
    cursor: pointer;
}

.social-cards__icons_modified {
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    color: black;
    font-size: 150px;
    mix-blend-mode: screen;
}

.textsContainer {
    height: 300px;
    background-color: black;
    color: white;
    padding: 50px;
}

.textsContainer__blok {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    margin: auto;
}

.textsContainer__blok-items {
    padding: 20px;
    width: 350px;
    text-align: center;
}

.textsContainer__blok-items-title1 {
    color: var(--hovedfarvebrun);
    border: 1px solid white;
    width: 150px;
    padding: 10px;
    margin: 0 85px;
    text-align: center;
}

.textsContainer__blok-items-title{
    color: var(--hovedfarvebrun);
    border: 1px solid white;
    width: 100px;
    padding: 10px;
    margin: 0 85px;
    text-align: center;
    margin-left:100px;
}

