<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>HIFI-Brands</title>
</head>

<body>

    <header class="head-kontakt">
        <div class="head-menu__icons">
            <i class="fas fa-map-marker-alt"></i>
            <i class="fas fa-phone-alt"></i>
            <i class="far fa-envelope"></i>
        </div>
    </header>

    <nav class="navigation">
        <ul class="navigation__linkbox">
            <li class="linkbox__link"> <a class="linkbox__link_a" href="/index.html">HOME</a> </li>
            <li class="linkbox__link"> <a class="linkbox__link_a" href="#">ABOUT US</a> </li>
            <li class="linkbox__link"> <a class="linkbox__link_a active" href="/brands.html">BRANDS</a> </li>
            <li class="linkbox__link"> <a class="linkbox__link_a" href="#">BLOG</a> </li>
            <li class="linkbox__link"> <a class="linkbox__link_a" href="#">EVENTS</a> </li>
            <li class="linkbox__link"> <a class="linkbox__link_a" href="/shop.html">SHOP</a> </li>
            <li class="linkbox__link"> <a class="linkbox__link_a" href="#">CONTACT US</a> </li>
        </ul>
    </nav>

    <section class="brands_section">
        <img class="brands_section__image" src='https://source.unsplash.com/random/1915x320'
            alt='Top brands hero image'>
        <h1 class="brands_hero__h1">TOP BRANDS</h1>
        <img class="brands_section__logo" src="/images/hi_fi_logo.png" alt="Hi fi Corner Logo">
    </section>

    <article class="double_article_box">
        <div class="double_article_box__stocked_brands">
            <p class="stocked_brands__text">Here are just a few of the brands we stock:</p>
            <img class="stocked_brands__logos" src="/images/all_brands.png" alt="Different brands">
        </div>

        <div class="double_article_box__brands">
            <p class="brands__headline">BRANDS</p>
            <p class="brands__text">
                As an independent retailer of home audio and visual products, we are able to select
                the very best brands and manufacturers from across the world.</p>
            <p class="brands__text">
                Not only do we have the best known brands such as B&AMP;;W, Devialet, KEF, Naim, and
                Linn; we also stock and are well
                versified with smaller autonomous companies like Michell Engineering, Neat Acoustics, Harbeth, SME,
                Trichord Research,
                PrimaLuna, to name but a few.</p>
            <p class="brands__text">
                With over a hundred brands, we can happily say that if a brand meets our high
                standards for sound reproduction, then you
                can be assured to find it at HI-FI Corner.</p>
            <p class="brands__link"><a class="brands__link" href="/shop.html">
                    VISIT OUR SHOP TO FIND MORE BRANDS></a></p>
        </div>
    </article>

    <footer class="footer">
        <div class="footer__venstre">
            <div class="venstre__tekst">
                <p class="tekst__p">HI-FI Corner</p>
                <p class="tekst__p">Edinburgh 2 joppa Road EH 15 2EU
                </p>
                <p class="tekst__p">Falkirk 44 Cow Wynd FK1 1PU</p>
            </div>
            <div class="venstre__links">
                <a class="links__refund" href="#">Return & Refunds</a>
                <a class="links__refund" href="#">| Privacy Policy</a>
            </div>
        </div>
        <div class="footer__hojre">
            <img class="hojre__betaling" src="/images/footer/betalings-muligheder.png" alt="">

            <div class="circle">
                <i class="fab fa-facebook-f social__link"></i>
            </div>
            <div class="circle">
                <i class="fab fa-youtube social__link"></i>
            </div>
            <div class="circle">
                <i class="fab fa-twitter social__link"></i>
            </div>
            <div class="circle">
                <i class="fab fa-instagram social__link"></i>
            </div>

        </div>
    </footer>
</body>

</html>