* {
    box-sizing: border-box;
    font-family:"museo-sans-rounded", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    background-color: black;
}

#wrapper{
    margin: 0 auto;
}


